.link {
  margin: 20px;
}
.button {
  margin-top: 40px;
  max-width: 100px;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 15px;
  text-transform: uppercase;
  background: none;
  outline: none;
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;

  &:disabled,
  &:disabled:hover{
    color: grey;
    border-color: grey;
    cursor: auto;
    background-color: transparent;
  }

}

.light {
  border: 1px solid white;
  color: black;
  &:hover {
    background: black;
    color: white;
  }
}

.dark {
  border: 1px solid white;
  color: white;
  &:hover {
    background: white;
    color: black;
  }
}