/*
$lightThemeHeader: white;
$DarkThemeHeader: #ca6f6c;
$NeutralThemeHeader: #cccc46;

$ThemeDefaultHeader: $NeutralThemeHeader;

*/

:root {
  --LIGHT_THEME_Header: #06cd06;
  --DARK_THEME_Header: #d7170f;
  --NEUTRAL_THEME_Header: yellow;

  --THEME_DEFAULT_Header: var(--NEUTRAL_THEME_Header);

  --LIGHT_THEME_Bg: url("../assets/img/Bg/bgLight.jpg");
  --DARK_THEME_Bg: url("../assets/img/Bg/bgDark.jpg");
  --NEUTRAL_THEME_Bg: url("../assets/img/Bg/bgNeutral.jpg");

  --THEME_DEFAULT_Bg: url("../assets/img/Bg/bgNeutral.jpg");
}

body, html {
  padding: 0;
  background-color: black;
  margin: -15px 0;
}

.page {
  min-width: 90%;
  background-color: #10100e;
  min-height: 100vh;
  font-family: sans-serif;
  background-image: var(--THEME_DEFAULT_Bg);
  background-repeat: repeat;
  color: white;
  margin-bottom: -40px;
  padding-bottom: 20px;
}

.header__text {
  width: 100%;
  line-height: 1.7;
  font-size: 26px;
  text-shadow: 0 0 2px black;
  color: var(--THEME_DEFAULT_Header);
  transition: color 0.4s;
  margin: 30px 0 20px;
  @media (max-width: 1200px) {
    text-align: center;
  }
}

.error__text {
  color: var(--THEME_DEFAULT_Header);
}


//SCROLL
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(37, 56, 97);
  border-radius: 2px;

}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.7);
}