.container {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  column-count: 3;

  @media(max-width: 850px) {
    column-count: 2;

  }
  @media(max-width: 600px) {
    column-count: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}

.person__item a {
  display: inline-flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.person__text {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  color: white;
  text-shadow: 0 0 10px blue;
}

.person__photo {
  width: 70px;
  height: 70px;object-fit: cover;
  object-position: center center;
  border-radius: 3px;

}

.person__comment {
color: white;
}
